<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Films</title>
    </head>
    
    <body>
        <ul class="navbar">
            <li class="navbar" style="float:left;"><p><b>Films</b></p></li>
            <li class="navbar"><a href="/">Home</a></li>
            <li class="navbar"><a href="/films">Films</a></li>
            <li class="navbar"><a href="/shows">Shows</a></li>
            <li class="navbar"><a href="/media">All Media</a></li>
        </ul>
        <h1>Films</h1>
        <div class="thumbnail-flex-container">
            {% for row in rows %}
            <div>
                <a href="/watch/film/{{row['MovieID']}}"><img src="{{ url_for('return_media', filepath=row['ThNailPath']) }}" style="width:100%"></a>
                <div class="container">
                    <p>{{row["MovieName"]}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>